<div class="posts-container">
  <mat-card class="new-post-card" *ngIf="isAdmin">
    <mat-card-header>
      <mat-card-title>Create new post</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Title</mat-label>
        <input matInput [(ngModel)]="newPost.title" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Text</mat-label>
        <textarea matInput rows="4" maxlength="255" [(ngModel)]="newPost.description" style="max-height: 200px;"></textarea>
      </mat-form-field>

      <!-- Select animal for post -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Animal</mat-label>
        <mat-select [(ngModel)]="newPost.animal_id">
          <mat-option *ngFor="let animal of animals" [value]="animal._id">
            {{ animal.name }} ({{ animal.species }})
          </mat-option>
        </mat-select>
      </mat-form-field>

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="createPost()"
        [disabled]="!newPost.title || !newPost.description || !newPost.animal_id">
        Create post
      </button>
    </mat-card-actions>
  </mat-card>

  <!-- List of posts -->
  <div class="post-list">
    <mat-card class="post-card" *ngFor="let post of posts">
      <mat-card-header>
        <mat-card-title>
          <ng-container *ngIf="editingPost && editingPost._id === post._id; else showTitle">
            <input matInput [(ngModel)]="editingPost.title" />
          </ng-container>
          <ng-template #showTitle>{{ post.title }}</ng-template>
        </mat-card-title>
        <mat-card-subtitle>{{ post.release_date | date:'short' }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <ng-container *ngIf="editingPost && editingPost._id === post._id; else showDescription">
          <textarea matInput [(ngModel)]="editingPost.description" rows="4"></textarea>
        </ng-container>
        <ng-template #showDescription>
          <p>{{ post.description }}</p>
        </ng-template>

        <!-- Display the animal's image -->
        <div *ngIf="post.animal_id">
          <img [src]="post.animal_id.photos[0]" (click)="goToPetDetails(post.animal_id._id)" alt="Animal Image"
            style="max-width: 100px;" />
        </div>
      </mat-card-content>
      <mat-card-actions *ngIf="isAdmin">
        <ng-container *ngIf="editingPost && editingPost._id === post._id; else showActions">
          <button mat-button (click)="updatePost()">Save</button>
          <button mat-button (click)="cancelEdit()">Cancel</button>
        </ng-container>
        <ng-template #showActions>
          <button mat-icon-button color="primary" (click)="editPost(post)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deletePost(post._id)">
            <mat-icon>delete</mat-icon>
          </button>
        </ng-template>
      </mat-card-actions>
    </mat-card>

  </div>
</div>
