body{
    margin: 0;
    padding: 40px 0 0 0;
    font-family: Arial, sans-serif;
    background-color: #f9f5f0;
}

.app-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 2re;
    min-height: 10vh;
}
