version: '3.8'

services:
  prometheus:
    image: prom/prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml

  grafana:
    image: grafana/grafana
    ports:
      - "3000:3000"

  nginx-exporter:
    image: nginx/nginx-prometheus-exporter:0.11.0
    command:
      - "-nginx.scrape-uri=http://client/nginx_status"
    ports:
      - "9113:9113"
    networks:
      - default


networks:
  default:
    external: true
    name: prf-animal_adoption_default
