<button class="back-button" (click)="goBack()">Back</button>

<button *ngIf="isAuthenticated&&isAdmin" class="update-button" (click)="openEditPopup()">
  ✏️ Edit
</button>

<div *ngIf="animal">
  <div class="animal-details">
  <!-- Favourite -->
  <ng-container *ngIf="isAuthenticated">
    <p>Add to favourite:</p>
    <mat-icon class="fav-button" (click)="toggleFavourite()">
      {{ isFavourited ? "star" : "star_border" }}
    </mat-icon>
  </ng-container>
  <h2>{{ animal.name }}</h2>
  <img [src]="animal.photos[0]" alt="{{ animal.name }}">
  <p>Species: {{ animal.species }}</p>
  <p>Age: {{ animal.age }}</p>
  <p>Health: {{ animal.health }}</p>
  <p>Nature: {{ animal.nature }}</p>
  <p>Adopted: {{ animal.isAdopted ? 'Yes' : 'No' }}</p>
  <button (click)="onAdoptionClick()" class="adopt-btn">Apply for adoption</button>
  </div>
</div>

<div class="popup-backdrop" *ngIf="showPopup">
  <div class="popup-content">
    <h3>Why do you want to adopt me? (optional)</h3>
    <textarea [(ngModel)]="adoptionReason" maxlength="255" placeholder="(max 255 characters.)"></textarea>

    <h4>* Which day do you want to meet me? (required)</h4>
    <input type="date" [min]="minDate" [(ngModel)]="visitDate">

    <button (click)="submitAdoptionRequest()" [disabled]="!visitDate">Send</button>
    <button (click)="closePopup()">Cancel</button>
  </div>
</div>


<div class="popup-backdrop" *ngIf="showEditPopup">
  <div class="popup-content">
    <input [(ngModel)]="animal.name">
    <input [(ngModel)]="animal.age" type="number">
    <input [(ngModel)]="animal.species">
    <input [(ngModel)]="animal.health">
    <input [(ngModel)]="animal.nature">
    <!-- isAdopted checkbox -->
    <label>
      <input type="checkbox" [(ngModel)]="animal.isAdopted"> Adopted
    </label>

    <button (click)="saveAnimal()">Mentés</button>
    <button (click)="closeEditPopup()">Mégse</button>
  </div>
</div>
