<button class="back-button" (click)="goBack()">Back</button>

<button *ngIf="isAuthenticated&&isAdmin" class="update-button" (click)="openEditPopup()">
  ✏️ Edit
</button>

<div *ngIf="animal">
  <div class="animal-details">
    <!-- Favourite -->
    <ng-container *ngIf="isAuthenticated">
      <p>Add to favourite:</p>
      <mat-icon class="fav-button" (click)="toggleFavourite()">
        {{ isFavourited ? "star" : "star_border" }}
      </mat-icon>
    </ng-container>
    <h2>{{ animal.name }}</h2>
    <img [src]="animal.photos[0]" alt="{{ animal.name }}">
    <p>Species: {{ animal.species }}</p>
    <p>Age: {{ animal.age }}</p>
    <p>Health: {{ animal.health }}</p>
    <p>Nature: {{ animal.nature }}</p>
    <p>Adopted: {{ animal.isAdopted ? 'Yes' : 'No' }}</p>
    <button *ngIf="!animal.isAdopted" (click)="onAdoptionClick()" class="adopt-btn">Apply for adoption</button>
  </div>
</div>

<div class="popup-backdrop" *ngIf="showPopup">
  <div class="popup-content">
    <h3>Why do you want to adopt me? (optional)</h3>
    <textarea [(ngModel)]="adoptionReason" maxlength="255" placeholder="(max 255 characters.)"></textarea>

    <h4>* Which day do you want to meet me? (required)</h4>
    <input type="date" [min]="minDate" [(ngModel)]="visitDate">

    <button (click)="submitAdoptionRequest()" [disabled]="!visitDate">Send</button>
    <button (click)="closePopup()">Cancel</button>
  </div>
</div>


<div class="edit-popup-backdrop" *ngIf="showEditPopup">
  <div class="edit-popup-content">
    <label>
      <span>Name:</span>
      <input [(ngModel)]="animal.name" type="text">
    </label>
    <label>
      <span>Age:</span>
      <input [(ngModel)]="animal.age" type="number">
    </label>
    <label>
      <span>Species:</span>
      <input [(ngModel)]="animal.species" type="text">
    </label>
    <label>
      <span>Health:</span>
      <input [(ngModel)]="animal.health" type="text">
    </label>
    <label>
      <span>Nature:</span>
      <input [(ngModel)]="animal.nature" type="text">
    </label>
    <label>
      <span>Adopted:</span>
      <div class="radio-group">
        <label>
          <input type="radio" [(ngModel)]="animal.isAdopted" [value]="true"> Yes
        </label>
        <label>
          <input type="radio" [(ngModel)]="animal.isAdopted" [value]="false"> No
        </label>
      </div>
    </label>


    <div class="button-group">
      <button (click)="saveAnimal()">Save</button>
      <button (click)="closeEditPopup()">Cancel</button>
    </div>

  </div>
</div>
