<div class="container">

  <h2>Admin: Animal control</h2>

  <form [formGroup]="animalForm" (ngSubmit)="createAnimal()">
    <input formControlName="name" placeholder="Name">
    <select formControlName="gender" required>
      <option value="" disabled selected>Select gender</option>
      <option value="male">male</option>
      <option value="female">female</option>
    </select>
    <input formControlName="species" placeholder="Species">
    <input formControlName="age" placeholder="Age" min="0" max="200" type="number">
    <input formControlName="health" placeholder="Health">
    <input formControlName="nature" placeholder="Nature">
    <input formControlName="photos" placeholder="PhotoURL">

    <label>Adopted:</label>
    <label>
      <input type="radio" formControlName="isAdopted" [value]="true"> Yes
    </label>
    <label>
      <input type="radio" formControlName="isAdopted" [value]="false"> No
    </label>

    <button type="submit" [disabled]="animalForm.invalid">Add</button>
  </form>

  <ul>
    <li *ngFor="let animal of animals">
      {{ animal.name }} - {{ animal.species }}
      <button (click)="goToPetDetails(animal._id)">Edit</button>
      <button (click)="deleteAnimal(animal._id)">Delete</button>
    </li>
  </ul>
</div>
